@import '../../../../styles/sass/vars.scss';
@import '../../../../styles/sass/mixins.scss';

.caruselDescription {
  border-radius: 4px;
 
  &>.slick-list {
    border-radius: 4px;
  }

  &>.slick-prev {
    display: none !important;
  }

  &>.slick-next {
    display: block;
    width: 12px;
    height: 17px;
    background-image: url(../../../../assets/img/description/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    right: 20px;
    bottom: 13px !important;
    top: initial !important;

    @include media (xs) {
      width: 16px;
      height: 23px;
      right: 30px;
      bottom: 30px !important;
    }

    @include media (sm) {
      right: 40px;
    }

    @include media (xxl) {
      bottom: 20px !important;
    }

    &:hover {
      opacity: .5;
    }

    &::before {
      display: none;
    }
  }
}