@import '../../../../styles/sass/vars.scss';
@import '../../../../styles/sass/mixins.scss';

.btn{
  display: block;
  padding: 16px 32px 16px 33px;
  color: $accentColor;
  border: 2px solid $accentColor;
  background-color: transparent;
  @include text(14px, 500, 1);
  width: fit-content;
}