@import '../../../../styles/sass/vars.scss';
@import '../../../../styles/sass/mixins.scss';

.btn {
  display: block;
  padding: 16px 28px 16px 33px;
  width: fit-content;
  border: 2px solid $accentColor;
  border-radius: 3px;
  background-color: transparent;
  @include text(14px, 500, 1);
  color: $accentColor;
  font-family:inherit;

  &:hover  {
    border: 2px solid $linkColor;
    color: $linkColor;
  }

  &:active{
    box-shadow: 0 0 10px rgba($linkColor , 1);
  }
}
