@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/vars.scss';

.recordingTimeWrap {
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
  border-bottom: .5px solid $secondaryColor;

  @include media(xs){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
  }

  @include media(sm) {
    padding: 18px 30px;
  }
}

.recordingTimeSelect {
  display: flex;
  flex-direction: column;
}

.time,
.places{
  @include text(18px, 400, 1.44);
}

.time{
  margin-bottom: 10px;

  @include media(xs){
    margin-bottom: 11px;
  }
}

.places{
  margin-bottom: 18px;
  
  @include media(xs){
    margin-bottom: 0;
  }
}

.value{
  @include text(18px, 600, 1.22);
  margin-bottom: 9px;

  @include media(sm){
    margin-bottom: 8px;
  }
}

