@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/vars.scss';

.container {
  @extend %container;
  padding-right: 0 !important;
  position: relative;

  @include media (sm) {
    padding-right: 50px !important;
  }

  @include media (md) {
    padding: 0 !important;
  }
}

.inner {

  @include media (sm){
     border-bottom: .5px solid $secondaryColor;
  }
 }

.gallery {
  margin-bottom: 58px;

  @include media(xs){
    margin-bottom: 60px;
  }

  @include media(sm){
    margin-bottom: 56px;
  }
   
  @include media(md){
    margin-bottom: 37px;
  }

    &Title {
    @include text(26px, 400, 1.23);
    text-align: center;
    margin: 0 0 34px 12px;
    width: 266px;
    // margin-right: 15px;

    @include media (xs){
      margin: 0 0 34px 119px;
    }

    @include media (sm) {
      @include text(20px, 500, 1.4);
      width: 100%;
      margin: 0 0 25px 0;
      text-align: left;
        }

    @include media (md) {
      @include text(28px, 500, 1.46);
      margin: 0 0 37px 0;
    }

    
    @include media (lg) {
      @include text(20px, 500, 1.46);
      margin: 0 0 33px 0;
          }

    &>span {
      display: none;

      @include media (sm) {
        display: inline-block;

      }
    }
  }

  &Carusel {
    @include media (sm) {
      display: none;
    }
  }
}

.galleryLinkWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  @include media(md) {
    margin-bottom: 30px;
    margin-left: -12px;
  }

  @include media(lg) {
    margin-bottom: 25px;
  }
}

.linkShowAll {
  display: none;
  margin: 0 auto;
  @include text(17px, 500, 1.4);
  color: $linkColor;
  width: 208px;
  background-color: transparent;
  position: relative;
  border: transparent;
  transition: all .5s linear;

  &:hover {
    color: #37373F;
  }

  &:active .linkShowAllArrowLeft,
  &:active .linkShowAllArrowRight {
    transform: rotate(180deg);
    top: calc(50% - 2px);
  }

  //! for frontend
  .active {
    transform: rotate(180deg);
  }

  &ArrowLeft {
    display: block;
    width: 16px;
    height: 8px;
    position: absolute;
    content: ' ';
    top: calc(50% - 4px);
    left: 0;

  }

  &ArrowRight {
    display: block;
    width: 16px;
    height: 8px;
    position: absolute;
    content: ' ';
    top: calc(50% - 4px);
    right: 0;
  }

  &ArrowLeft::before,
  &ArrowLeft::after {
    position: absolute;
    content: ' ';
    top: calc(50% - 4px);

    width: 2px;
    height: 8px;
    background-color: $secondaryColor;
    transform-origin: bottom;
  }

  &ArrowLeft::before {
    transform: rotate(45deg);
    left: 7px
  }

  &ArrowLeft::after {
    transform: rotate(-45deg);
    left: 8px
  }

  &ArrowRight::before,
  &ArrowRight::after {
    position: absolute;
    content: ' ';
    top: calc(50% - 4px);
    width: 2px;
    height: 8px;
    background-color: $secondaryColor;
    transform-origin: bottom;
  }

  &ArrowRight::before {
    transform: rotate(45deg);
    left: 7px;
  }

  &ArrowRight::after {
    transform: rotate(-45deg);
    left: 8px;
  }

  @include media(sm) {
    display: flex;
    justify-content: center;
  }
}