@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/vars.scss';

@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/vars.scss';

.container {
  @extend %container;
}

.testimonials {
  color: $textColor;

  &Title {
    @include text(26px, 400, 1.51);
    text-align: center;
    margin-bottom: 50px;

    @include media(sm){
       @include text(20px, 500, 1.4);
      text-align: start;
         }

    @include media(md){
      @include text(28px, 500, 1.46);
    }

    @include media(lg){
      @include text(20px, 500, 1.4 );
    }
  }

  &LinkWrap{
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
    padding-top: 10px;

    @include media(sm){
      padding-top: 15 px;
    }

    @include media(md){
      margin-bottom: 50px;
    }
  }
}


