@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/vars.scss';

.about {
  margin-bottom: 40px;
  color: $textColor;

  @include media(xs){
    margin-bottom: 21px; 
  }

  @include media(sm){
    margin-bottom: 50 px; 
  }
}

.container {
  @extend %container;
}

.inner {
  display: flex;
  flex-direction: column;

  @include media(xs){
    border-bottom: .5px solid $secondaryColor; 
  }

  @include media(md){
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 111px;
  }
}

.description {

  @include media(md){
    width: 584px;
  }

  &Organizer {
    margin-bottom: 40px;
  }

  &Title {
    @include text(18px, 500, 1.44);
    margin-bottom: 14px;
  }

  &Text{
    @include text(16px, 400, 1.5);
    margin-bottom: 22px;
  }

  &Text+&Text{
    margin-top: 38px;
  }

  &Activiti {
    margin-bottom: 52px;
  }
}