@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/vars.scss';

.about {
  margin-bottom: 40px;
  color: $textColor;

  @include media(xs) {
    margin-bottom: 21px;
  }

  @include media(sm) {
    margin-bottom: 50px;
  }
}

.container {
  @extend %container;
}

.inner {
  display: flex;
  flex-direction: column;

  @include media(xs) {
    border-bottom: .5px solid $secondaryColor;
    padding-bottom: 52px;
  }

  @include media(md) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 159px;
  }
}

.description {

  @include media(md) {
    width: 584px;
  }

  &Organizer {
    margin-bottom: 26px;

    @include media(xs) {
      margin-bottom: 37px;
    }
  }

  &Title {
    @include text(18px, 500, 1.44);
    margin-bottom: 13px;

    @include media(xs) {
      margin-bottom: 12px;
    }

    @include media(xs) {
      margin-bottom: 11px;
    }
  }

  // ! text

  &Text,
  &Text576, 
  &TextMax {
    @include text(16px, 400, 1.5);
    margin-bottom: 18px;
    text-align: start;
  }

  &Text {
    @include media(xs) {
      display: none;
    }
  }

    &Text576 {
      display: none;

      @include media(xs) {
        display: block;
      }

      @include media(sm) {
        display: none;
      }
    }

    &TextMax{
      display: none;

      @include media(sm) {
        display: block;
      }
    }  

  &Text>br {
    @include media(xs) {
      display: none;
    }
  }

  &Text576>br {
    @include media(sm) {
      display: none;
    }
  }

  &Text+&Text {
    margin-top: 26px;
    margin-bottom: 19px;
  }

  &Text576+&Text576 {
    margin-top: 26px;
    margin-bottom: 16px;
  }

  &TextMax+&TextMax{
    margin-top: 26px;
    margin-bottom: 4px;
  }

  // &Activiti {
  //   margin-bottom: 52px;

  //   @include media(xs) {
  //     margin-bottom: 47px;
  //   }   
  // }

  // &Activiti>&TextMax{
  //   margin-bottom: 7px;
  // }
}