@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/vars.scss';

.aboutPhotographer {

  @include media(xs){
    margin-bottom: 6px;
  }

  @include media(sm){
    margin-bottom: 12px;
  }

  @include media(md){
    padding-top: 30px;
  }

  &BlockFoto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 24px;
    padding-left: 18px;

    @include media(xs){
      padding-left: 27px;
    }

    @include media(sm){
      padding-left: 31px;
    }
  }

  &Heart{
    position: relative;
    left: 51px;
    top: -13px;

    @include media(xs){
      left: 47px;
      top: -14px;
    }
}
  
  &Info {
    text-align: center;
    color: $textColor;
    margin-left: -14px;

    @include media(xs){
      margin-left: -4px;
    }

    
    @include media(sm){
      margin-left: 0;
    }
  }

  &InfoName {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    @include text(18px, 500, 1.22)
  }

  &InfoProfession {
    margin-bottom: 7px;
    @include text(14px, 400, 1.5)
  }

  &InfoLink {
    display: block;
    margin: 0 auto;
    @include text(14px, 500, 1.5);
    color: $linkColor;
    width: 200px;
    margin-bottom: 19px;
  }
}