@import '../../../styles/sass/vars.scss';
@import '../../../styles//sass/mixins.scss';

.container {
  @extend %container;
 

}

.inner {
  display: flex;
  flex-direction: column;
}

.description {
   margin-bottom: 60px;

  @include media (md){
    margin-bottom: 70px;
  }

  @include media (lg){
    margin-bottom: 28px;
  }

  &Title {
    color: $textColor;
    @include text(28px, 400, 1.21);
    text-align: center;
    margin-bottom: 12px;
    padding-top: 38px;

    @include media(xs) {
      padding-top: 36px;
    }

    @include media(sm) {
      @include text(40px, 500, 1.23);
      padding-top: 50px;
      margin-bottom: 31px;
    }

    @include media (md) {
      padding-top: 70px;
      margin-bottom: 0;
    }
  }

  &TitleCaruselBlock {

    @include media (md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &Carusel {
    @include media (md) {
      width: 48.6%;
      padding-top: 71px;
    }
  }
}

.descriptionContent {

  @include media (md) {
    margin-top: -267px;
  }

  &Text {
    color: $textColor;
    @include text(14px, 400, 1.43);
    margin-bottom: 34px;
    padding-top: 29px;


    @include media(xs) {
      @include text(18px, 400, 1.44);
      margin-bottom: 18px;
    }

    @include media(sm) {
      padding-top: 46px;
      width: 549px;
    }

    @include media (md) {
      padding-top: 0;
    }
  }
}

.testimonialsBlock {
  display: flex;
  padding-top: 14px;
  padding-bottom: 9px;
  border-top: 0.5px solid $secondaryColor;
  border-bottom: 0.5px solid $secondaryColor;

  @include media(xs) {
    padding-top: 20px;
    padding-bottom: 27px;
    align-items: flex-start;
  }

  @include media (md) {
    width: 50%;
    padding-bottom: 25px;
  }

  @include media (lg) {
      padding-bottom: 29px;
  }

  &Img {
    width: 36.65px;
    height: 41px;
    margin-right: 11px;

    @include media(xs) {
      margin-right: 10px;
      width: 32px;
      height: 35.8px;
    }
  }

  &Content {
    color: $textColor;
    @include text(14px, 400, 1.43);

    @include media(xs) {
      display: flex;
      @include text(18px, 400, 1.43);
      padding-top: 10px;
    }

    & span {
      font-weight: 600;
    }
  }

  &ContentText {
    margin-bottom: 5px;

    @include media(xs) {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

}